<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  
  <script>
  $(function() {
    $( "input[type=submit], a, button" )
      .button()
      .click(function( event ) {
        event.preventDefault();
      });
  });
  </script>
 -->
<div style="margin-left: 15px;">
	<br/>
	<br/>
	<%= link_to "Show Dashboards", user_dashboards_path(@user), method: :get %>
	<br/>
	<br/>
	<%= link_to "Show This Dashboard", user_dashboard_path(@user, @dashboard), method: :get %>
	<br/>
	<br/>
</div>